@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-bg {
    background: linear-gradient(270deg, #1c1a1a, #010101, #1f1c1c);
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
  }